*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Montserrat', sans-serif;
    
    font-size: 20pt;
    
    width: 100%;
    height: 100%;
    
    color: #1B1A17;
    
    background: rgb(131,58,180);
    background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(205,16,77,1) 50%, rgba(252,176,69,1) 100%);
}

header{


    height: 10%;


    display: flex;
    flex-direction: column;
    justify-content: center;

    background: #F7F7F7;

    margin-left: 8vw;
    margin-right: 8vw;

}

header > h1{
    margin-bottom: 50px;
    margin-left: 2.5%;
    margin-top: 5%;


}

header > hr{
    width: 95%;
    margin-left: 2.5%;

}

hr {
    border: none;
    border-top: 3px double #1B1A17;
    color: #1B1A17;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #F7F7F7;
    content: '\1F682';
    padding: 0 4px;
    position: relative;
    top: -30px;
}

main {
    display: flex;
    flex-direction: column;

    background-color: #F7F7F7;

    margin-left: 8vw;
    margin-right: 8vw;

    padding-top: 5vw;
}

article {
    display: flex;
    flex-direction: row;

    
}

section {
    margin-bottom: 50px;
    
    margin-left: 2vw;
    
    
}

section > hr {
    margin-top: 20px;
    margin-bottom: 25px;
}

aside {
    width: 20vw;
    margin-right: 5vw;

    padding: 1vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-left: 1px solid #1B1A17;
}

aside > img {
    width: 18vw;

    border-top: 1px solid #1B1A17;
    border-right: 1px solid #1B1A17;
    border-bottom: 1px solid #1B1A17;
    border-left: 1px solid #1B1A17;

    border-radius: 15px;

    margin-bottom: 15px;
}

aside > p{
    font-size: 15pt;
}

.noStyle {
    border: none;
    margin-right: 2px;
}

footer {
    margin-top: 20px;

    margin-left: 2.5%;
    width: 95%;

    color: #F7F7F7;

}

footer > section {
    margin-top: 20px;
    margin-bottom: 50px;

    font-size: 15pt;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer > section a{
    color: #F48B29;
}

footer > section a:hover{
    color: #AC0D0D;
}

.train{
    color: #AC0D0D;
    font-style: italic;
}

.noStyleHr::after{
    content: none;
}

.fullScreen{
    position: absolute;
    z-index: 5;

    width: 80%;
    left: 10%;
    
}